<p id="notice"><%= notice %></p>

<div class="formulario-tabela">
  <%= form_with(model: reclamacao, local: true) do |form| %>
    <% if reclamacao.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(reclamacao.errors.count, "error") %> proibiu este reclamação de ser salvo:</h2>

        <ul>
          <% reclamacao.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :titulo %>
      <%= form.text_field :titulo, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :texto %>
      <%= form.text_area :texto, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label 'categoria do problema' %>
      <%= form.text_field :cat_problema, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label 'nome da empresa' %>
      <%= select('reclamacao', :nome_empresa, ['Empresa1','Empresa2','Empresa3'],{include: true}, :class => "form-control") %>
    </div>

    <div class="form-group">
      <%= form.label "usuario" %>
      <% @u = Usuario.get_usuario_logado %>
      <%= select('reclamacao', :usuario_id, options_for_select(for[[@u.login,@u.id]]),{include: true}, :class => "form-control") %>
    </div>

    <div class="form-group">
      <%= form.submit 'salvar' %>
    </div>
  <% end %>
</div>