<div class="formulario-tabela">
  <%= form_with(model: usuario, local: true) do |form| %>
    <% if usuario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(usuario.errors.count, "error") %> proibiu este usuário de ser salvo:</h2>

        <ul>
          <% usuario.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :login %>
      <%= form.text_field :login, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, :placeholder => "Email deve conter '@'. (ex.: joao@mail)", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :senha %>
      <%= form.text_field :senha, :placeholder => "Senha com 6 dígitos.", :class => "form-control"%>
    </div>

    <div class="form-group" id="submit">
      <%= form.submit 'salvar'%>
    </div>
  <% end %>
</div>
